<div class = 'container'>
    <h3>Profile Form</h3>
    <hr />
    <!-- in angular you will handle events as (eventName) -->
    <!-- ngForm creates a object with a name profileForm { _id:v, name:v, phone:v } -->
    <form #profileForm = "ngForm" (ngSubmit) = 'handleForm(profileForm.value)'>
        <div>
            <!-- ngModel updates the profileForm with a key using the name i.e., 
            _id : value -->
            <input type = 'number' name = '_id' ngModel placeholder = 'Enter id' autocomplete = 'off'>
        </div>
        <div>
            <!-- ngModel updates profileForm.name : value -->
            <input type = 'text' name = 'name' ngModel placeholder = 'Enter name' autocomplete = 'off'>
        </div>
        <div>
            <!-- ngModel updates profileForm.phone : value -->
            <input type = 'number' name = 'phone' ngModel placeholder = 'Enter phone no' autocomplete = 'off'>
        </div>
        <div>
            <input type = 'submit' value = 'Submit' class = 'btn btn-primary'>
        </div>
    </form>
    <div>
        <h3>To See the Fake Users</h3>
        <button class = 'btn btn-primary' (click) = 'handleClick()'>Fetch</button>
        <table class = 'table'>
            <thead>
                <th>Id</th><th>Name</th><th>Email</th><th>Street</th><th>City</th>
            </thead>
            <tbody>
                <tr *ngFor = 'let user of fakeUsers'>
                    <td>{{user.id}}</td>
                    <td>{{user.name}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.address.street}}</td>
                    <td>{{user.address.city}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>